<!-- cardDeals.ejs -->
<div class="deal-card">
  <img src="<%= image %>" alt="<%= title %>" class="deal-image" />
  <h2><%= title %></h2>
  <p>Release Date: <%= releaseDate %></p>
  <p>Score: <%= score %></p>
  <p class="price">
    <span class="sale-price">$<%= salePrice %></span>
    <span class="normal-price">$<%= normalPrice %></span>
  </p>
  <button class="buy-button">
    <i class="fas fa-shopping-cart"></i>Add to Cart
  </button>
</div>
